<div class="sidebar">

    <div class="logo">

        <h2>LMS ERP</h2>

        <span>Enterprise Logistics</span>

    </div>

    <ul class="menu">

        <!-- Dashboard -->
        <li routerLink="/dashboard" routerLinkActive="active">

            <i class="fa-solid fa-chart-line"></i>

            <span>Dashboard</span>

        </li>

        <!-- Organization -->
        <li routerLink="/master-management" routerLinkActive="active">

            <i class="fa-solid fa-building"></i>

            <span>Organization</span>

        </li>


        <!-- Administration -->
        <li routerLink="/administration" routerLinkActive="active">

            <i class="fa-solid fa-user-shield"></i>

            <span>Administration</span>

        </li>

        <!-- Operations -->
        <li routerLink="/operations" routerLinkActive="active">

            <i class="fa-solid fa-truck-fast"></i>

            <span>Operations</span>

        </li>



       

        <!-- Logout -->
        <li routerLink="/login">

            <i class="fa-solid fa-right-from-bracket"></i>

            <span>Logout</span>

        </li>

    </ul>

</div>