<div class="sidebar">
    <div class="logo">
        <h2>LMS</h2>
    </div>
    <ul class="menu">

        <!-- Dashboard -->
        <li routerLink="/dashboard" routerLinkActive="active">

            <i class="fa-solid fa-chart-line"></i>

            <span>Dashboard</span>

        </li>

        <!-- Organization -->
        <li routerLink="/master-management" routerLinkActive="active">

            <i class="fa-solid fa-building"></i>

            <span>Organization</span>

        </li>


        <!-- Administration -->
        <li routerLink="/administration" routerLinkActive="active">

            <i class="fa-solid fa-user-shield"></i>

            <span>Administration</span>

        </li>

        <!-- Operations -->
        <li routerLink="/operations" routerLinkActive="active">

            <i class="fa-solid fa-truck-fast"></i>

            <span>Operations</span>

        </li>

        <li routerLink="/driver-console" routerLinkActive="active">

            <i class="fa-solid fa-truck-fast"></i>

            <span>Driver Console</span>

        </li>


        <li routerLink="/track-orders" routerLinkActive="active">

            <i class="fa-solid fa-truck-fast"></i>

            <span>Track Orders</span>

        </li>


        <!-- Logout -->
        <li routerLink="/login">

            <i class="fa-solid fa-right-from-bracket"></i>

            <span>Logout</span>

        </li>

    </ul>

</div>